@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Roboto';
    --color-1: #F5F8FF;
    --color-2: #202F36;
    --color-3: #5D6F7A;
    --color-4: #A1A7AA;
    --color-5: #22343E;
    --color-6: #0165FC;
    --color-7: #006DF0;
    --color-8: #DDECFF;
    --color-9: #DAE6FF;
    --color-blue_bg: #F0F7FF;
    --color-blue_button: #EDF3FF;
}

body {
    font-family: 'Roboto', sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 9999px;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.filter-dropdown-list::-webkit-scrollbar {
    width: 4px;
}

.filter-dropdown-list::-webkit-scrollbar-track {
    background: #f0f4ff;
    border-radius: 99px;
}

.filter-dropdown-list::-webkit-scrollbar-thumb {
    background: #006DF0;
    border-radius: 99px;
}

.blue-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.blue-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.blue-scrollbar::-webkit-scrollbar-thumb {
    background: #0165FC;
    border-radius: 4px;
}